<h1><%= @snack.name %></h1>

<p>Price: $<%= @snack.price.to_f %></p>

<h3>Locations</h3>

<% @snack.machines.each do |machine| %>
  <p><%= machine.location %> Vending Machine</p>
  <p><%= machine.average_price %></p>
  <p><%= machine.count_unique_items %></p>
<% end %><br>
